@keyframes fadeInAnim {
	from {opacity: 0};
	to {opacity: 1};
}

@keyframes fadeOutAnim {
	from {opacity: 1};
	to {opacity: 0.5};
}

@keyframes movePicAnim {
	from {height: 1000};
	to {height: 500}
}

.name {
	color: black;
	font-family: cursive;
	font-size: 50px;
}

.description {
	color: black;
	font-family: cursive;
	font-size: 25px;
}

.welcome {
	padding-bottom: 0px;
}

.customFont{
	color: black;
	font-family: cursive;
	font-size: 70px;
}

.sceneryFont {
	color: white;
	font-family: cursive;
	font-size: 80px;
	text-shadow: 2px 2px 50px white;
}
.rectangle {
	color: black;
	font-family: cursive;
	font-size: 40px;
  	height: 100px;
  	width: 300px;
	padding: 0;
	transition: 0.3s;
}

.rectangle:hover {
	background: #fffdf9
}

.circle {
	opacity: 30%;
	color: black;
  	height: 120px;
  	width: 120px;
	padding: 0;
  	border-radius: 50%;
	transition: 0.3s;
}
.parallax {
	/* The image used */
	background-image: url("../Backgrounds/neonSign.jpg");

	/* Set a specific height */
	min-height: 500px;

	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.parallax2 {
	/* The image used */
	background-image: url("../Backgrounds/foodBk.jpg");

  	/* Set a specific height */
  	min-height: 500px;
	padding-bottom: 200px;
	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.circle:hover {
	box-shadow: 5px 5px 15px gray;
}

.blackBar {
	height: 5px;
  	width: 60%;
	background-color: black;
}
.blackBar2 {
	height: 5px;
  width: 75%;
	background-color: black;
}

.socialBubble {
	opacity: 30%;
}

.socialBubble:hover {
	opacity: 100%;
}

.customImg {
	width: 90%;
	height: 90%;
}

.picture {
	position: absolute;
	animation-name: fadeInAnim;
	animation-duration: 5s;
	position: relative;
	transition: 0.7s;
}

.picture:hover {
	opacity: 0.5;
}

.photoTable {
	padding-top: 100px;
	padding-bottom: 200px;
}

#photography {

}

#coding {

}

#gamedev {

}

a { color:red } /* Globally */

/* Each state */

a:visited { text-decoration: none; color:black; }
a:hover { text-decoration: none; color:blue; }
a:focus { text-decoration: none; color:yellow; }
a:hover, a:active { text-decoration: none; color:black }

/* canvas {
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
} */
