.foodBk{
	position: fixed;
	top: 0;
	left: 0;
	size: 80;
	z-index: -1;
	overflow: hidden;
	margin: 0, 0, 10, 10;
	margin: -5px -10px -10px -10px;
	background-size: contain;
}

body{
	background-image: url(Food/mrMatcha.JPG);
	background-size: 100%;
}

table{
	border-collapse: separate;
    border-spacing: 250px 0px;
}